body {
	font-family: Arial;
	background-color: #ffe6f0;
	margin: 0;
}

nav {
	background-color: #ff99cc;
	text-align: center;
	padding: 10px;
}

nav a {
	color: white;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
}

section {
	background-color: #fff5fa;
	margin: 5px;
	padding: 20px;
	border-radius: 12px;
}

h1, h2, h3 {
	text-align: center;
	color: #cc3385;
}

img {
	width: 150px;
	display: block;
	margin: auto;
	border-radius: 50px;
	border: 3px solid #ff99cc;
}

ul, li, ol, li {
	background-color: #ffe0ec;
	margin: 5px;
	padding: 8px;
	border-radius: 8px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}
	
	nav {
		display: block:
	}
}